<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Comment">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="topic_type" jdbcType="INTEGER" property="topicType" />
    <result column="com_time" jdbcType="TIMESTAMP" property="comTime" />
    <result column="com_status" jdbcType="INTEGER" property="comStatus" />
    <result column="com_num" jdbcType="INTEGER" property="comNum" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
 	<!-- <association property="user" javaType="com.pojo.User">  
            <result column="user_id" property="userId" />  
            <result column="username" property="username" />   
        </association>  
        <association property="course" javaType="com.pojo.Course">
        	<result column="cou_id" property="couId" />    
            <result column="cou_name" property="couName" />  
        </association>   -->
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pojo.Comment">
    <result column="com_content" jdbcType="LONGVARCHAR" property="comContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    comment_id, topic_type, com_time, com_status, com_num, user_id, course_id
  </sql>
  <sql id="Blob_Column_List">
    com_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pojo.CommentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pojo.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <select id="showComment" parameterType="com.pojo.Comment" resultType="com.pojo.Comment">  
       select       
       comment_id as commentId,  
       com_content as comContent,
       user_id as userId  ,
      course_id as courseId,
       com_time as comTime
       from lxkt_db.comment
   </select> 
 <select id="selectComment"  resultType="com.pojo.combinePojo">  
       select       
       comment_id as commentId,  
       username as username,
       cou_name as couName,
       com_content as comContent,
       com_time as comTime            
        from comment com   
    	join user u  
    	on com.user_id = u.user_id   
    	join course cou   
   		on cou.cou_id = com.course_id 
   	<!-- 	 where username = #{username,jdbcType=VARCHAR}  
 -->       
 
 <where>
       		<if test="username!=null and username!=''">
       			username=#{username,jdbcType=VARCHAR}
       			</if>
       		<if test="cou_name!=null and cou_name!=''">
       			 AND cou_name=#{cou_name,jdbcType=VARCHAR}
       		</if>
       	</where>
       
  
		
   </select>   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.CommentExample">
    delete from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Comment">
    insert into comment (comment_id, topic_type, com_time, 
      com_status, com_num, user_id, 
      course_id, com_content)
    values (#{commentId,jdbcType=INTEGER}, #{topicType,jdbcType=INTEGER}, #{comTime,jdbcType=TIMESTAMP}, 
      #{comStatus,jdbcType=INTEGER}, #{comNum,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{courseId,jdbcType=INTEGER}, #{comContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="topicType != null">
        topic_type,
      </if>
      <if test="comTime != null">
        com_time,
      </if>
      <if test="comStatus != null">
        com_status,
      </if>
      <if test="comNum != null">
        com_num,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="comContent != null">
        com_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="topicType != null">
        #{topicType,jdbcType=INTEGER},
      </if>
      <if test="comTime != null">
        #{comTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comStatus != null">
        #{comStatus,jdbcType=INTEGER},
      </if>
      <if test="comNum != null">
        #{comNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="comContent != null">
        #{comContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.CommentExample" resultType="java.lang.Long">
    select count(*) from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comment
    <set>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.topicType != null">
        topic_type = #{record.topicType,jdbcType=INTEGER},
      </if>
      <if test="record.comTime != null">
        com_time = #{record.comTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comStatus != null">
        com_status = #{record.comStatus,jdbcType=INTEGER},
      </if>
      <if test="record.comNum != null">
        com_num = #{record.comNum,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.courseId != null">
        course_id = #{record.courseId,jdbcType=INTEGER},
      </if>
      <if test="record.comContent != null">
        com_content = #{record.comContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update comment
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      topic_type = #{record.topicType,jdbcType=INTEGER},
      com_time = #{record.comTime,jdbcType=TIMESTAMP},
      com_status = #{record.comStatus,jdbcType=INTEGER},
      com_num = #{record.comNum,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=INTEGER},
      com_content = #{record.comContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comment
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      topic_type = #{record.topicType,jdbcType=INTEGER},
      com_time = #{record.comTime,jdbcType=TIMESTAMP},
      com_status = #{record.comStatus,jdbcType=INTEGER},
      com_num = #{record.comNum,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Comment">
    update comment
    <set>
      <if test="topicType != null">
        topic_type = #{topicType,jdbcType=INTEGER},
      </if>
      <if test="comTime != null">
        com_time = #{comTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comStatus != null">
        com_status = #{comStatus,jdbcType=INTEGER},
      </if>
      <if test="comNum != null">
        com_num = #{comNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="comContent != null">
        com_content = #{comContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pojo.Comment">
    update comment
    set topic_type = #{topicType,jdbcType=INTEGER},
      com_time = #{comTime,jdbcType=TIMESTAMP},
      com_status = #{comStatus,jdbcType=INTEGER},
      com_num = #{comNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      com_content = #{comContent,jdbcType=LONGVARCHAR}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Comment">
    update comment
    set topic_type = #{topicType,jdbcType=INTEGER},
      com_time = #{comTime,jdbcType=TIMESTAMP},
      com_status = #{comStatus,jdbcType=INTEGER},
      com_num = #{comNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>