.box1 {
  background-color:yellow;
  position:absolute;
  margin-left:50px;
  margin-top:50px;
  width:150px;
  height:100px;
}
.box2 {
  background-color:yellow;
  position:absolute;
  margin-left:250px;
  margin-top:50px;
  width:150px;
  height:100px;
}
.box3 {
  background-color:yellow;
  position:absolute;
  margin-left:450px;
  margin-top:50px;
  width:150px;
  height:100px;
}
.box4 {
  background-color:yellow;
  position:absolute;
  margin-left:650px;
  margin-top:50px;
  width:150px;
  height:100px;
}
.box5 {
  background-color:yellow;
  position:absolute;
  margin-left:850px;
  margin-top:50px;
  width:150px;
  height:90px;
}
.box6 {
  background-color:yellow;
  position:absolute;
  margin-left:50px;
  margin-top:200px;
  width:150px;
  height:100px;
}
.box7 {
  background-color:yellow;
  position:absolute;
  margin-left:250px;
  margin-top:200px;
  width:150px;
  height:100px;
}
.box8 {
  background-color:yellow;
  position:absolute;
  margin-left:450px;
  margin-top:200px;
  width:150px;
  height:100px;
}
.box9 {
  background-color:yellow;
  position:absolute;
  margin-left:650px;
  margin-top:200px;
  width:150px;
  height:100px;
}
.box10 {
  background-color:yellow;
  position:absolute;
  margin-left:850px;
  margin-top:200px;
  width:150px;
  height:100px;
}
body{
	margin:0px;
  	width:1200px;
  	min-width:500px;
 	max-width:100%;
 	height:2000px;
 	min-height:300px;
 	max-height:1200px;
  	text-align:left;
  	background-color:#ffffff;
}
.defaultcontainer{
	margin:0px;
  	width:1200px;
  	min-width:500px;
 	max-width:100%;
 	height:2000px;
 	min-height:300px;
 	max-height:1200px;
  	text-align:left;
  	background-color:#ffffff;
}
.course_show_po{
	margin:0px;
	width:1200px;
	height:300px;
}
.page_show_po{
	margin-left:450px;
}